<script>
	import {LeafletMap, Marker, TileLayer} from 'svelte-leafletjs';

	const mapOptions = {
			center: [51.3399028, 12.3742236],
			zoom: 11,
	};
	const tileUrl = "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";
	const tileLayerOptions = {
			minZoom: 0,
			maxZoom: 20,
			maxNativeZoom: 19,
			attribution: "© OpenStreetMap contributors",
	};
</script>

<LeafletMap options={mapOptions}>
		<TileLayer url={tileUrl} options={tileLayerOptions}/>
		<Marker latLng={[1.282375, 103.864273]}/>
		<Marker latLng={[1.359167, 103.989441]} rotationAngle={45}/>
</LeafletMap>
